!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*

secrets.yaml
.ssh
.storage
.cloud
.google.token
home-assistant.log*
id_rsa*
home-assistant_v2.db
tts
image
custom_components
www/community
www/spoolman_images
themes
.HA_VERSION
*.log
*.log.txt
.ha_run.lock
.cache/
zigbee2mqtt/state.json
zigbee2mqtt/coordinator_backup.json
zigbee2mqtt/database.db
ms365_storage/
esphome/archive